/* font-family, @font-face*/
@font-face {
  font-family: "roboto"; /*nombre definido*/
  src: url("../fuentes/Roboto/Roboto-Regular.ttf");
}
/*Estilos generales de la pagina*/
* {
  font-family: "roboto";
}

.title-default, .contacto-titulo, .text-lblue, .text-orange {
  font-family: "Fredoka", sans-serif;
  font-weight: 650;
  color: rgb(132, 190, 63);
  font-size: 2.2rem;
}

/* titulos*/
.text-orange {
  color: rgb(240, 140, 30);
}

.text-lblue {
  color: rgb(39, 188, 236);
}

.text {
  font-size: 0.9rem;
  color: rgb(89, 89, 89);
  line-height: 1.3rem;
}

.level-text {
  font-size: 0.8rem;
}

/* seccion encabezado */
.header {
  display: flex;
  background-color: rgb(34, 31, 83);
  height: 20vh;
  padding: 0 2rem;
  border-bottom: 0.2rem solid rgb(132, 190, 63);
  justify-content: space-between;
  align-items: center;
}

.header-image {
  width: 5rem;
  height: 5rem;
}

.header-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  text-align: end;
  line-height: 1.2rem;
}

.header-enlace {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
}
.header-enlace:hover {
  color: rgb(132, 190, 63);
}

/* seccion landing */
.landing {
  width: 100%;
  height: 50vh;
  background-color: rgb(132, 190, 63);
}

.landing-image {
  width: 100%;
  height: 45vh;
}

.contacto-container {
  background-color: rgb(34, 31, 83);
}

.contacto-titulo {
  color: rgb(255, 255, 255);
}

.contacto-subtitulo {
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
  line-height: 1.3rem;
  font-weight: 650;
}

.contacto-texto {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  line-height: 1.3rem;
}

/*estilo footer*/
.footer {
  background-color: rgb(132, 190, 63);
  color: rgb(34, 31, 83);
  text-align: center;
  font-size: 0.7rem;
  margin: 0;
  padding: 0.5rem;
}

.page-container {
  background-color: rgb(230, 230, 230);
  padding: 0 0.2rem;
}

@media only screen and (min-width: 527px) {
  .header {
    height: 4.5rem;
  }
  .header-menu {
    display: flex;
    gap: 1rem;
  }
  .landing {
    height: 65vh;
  }
  .landing-image {
    height: 60vh;
  }
}
@media only screen and (min-width: 900px) {
  .landing {
    height: 85vh;
  }
  .landing-image {
    height: 80vh;
  }
  .imagen-historia {
    margin-top: -3rem;
  }
  .title-default, .text-orange, .text-lblue, .contacto-titulo {
    font-size: 3rem;
  }
  .header-enlace {
    font-size: 0.8rem;
  }
  .header-enlace:hover {
    color: rgb(132, 190, 63);
  }
  .page-container {
    padding: 0;
  }
  .main-container {
    padding: 0 2rem;
  }
  .section-container {
    padding: 2rem 4rem;
  }
  .text {
    font-size: 1rem;
    color: rgb(89, 89, 89);
    line-height: 1.8rem;
  }
}
@media only screen and (min-width: 1400px) {
  .landing {
    height: 95vh;
  }
  .landing-image {
    height: 90vh;
  }
  .header-enlace {
    font-size: 0.9rem;
  }
  .header-enlace:hover {
    color: rgb(132, 190, 63);
  }
  .section-container {
    padding: 4rem 6rem;
  }
  .text {
    font-size: 1.5rem;
    color: rgb(89, 89, 89);
    line-height: 2.5rem;
  }
}


/*# sourceMappingURL=style.css.map */
