@mixin estiloTexto ($fontSize, $fontColor, $lineHeight) {
    font-size: $fontSize;
    color: $fontColor;
    line-height: $lineHeight;
}

@mixin anchoAlto ($width, $height) {
    width: $width;
    height: $height;
}