.page-container {
    background-color: $backgroundGrey;
    padding: 0 0.2rem;
}


@media only screen and (min-width: 900px) {

    .imagen-historia {
        margin-top: -3rem;
    }

    .page-container {
        padding: 0;
    }

    .main-container {
        padding: 0 2rem;
    }

    .section-container {
        padding: 2rem 4rem;
    }
}

@media only screen and (min-width: 1400px) {

    .section-container {
        padding: 4rem 6rem;
    }
}
