/* seccion encabezado */
.headerDS {
    background-color: $backgroundBlue;
    border-bottom: 0.2rem solid $green;
}

.togglerDS {
    color: $white;
    border: none;
}

.header-image {
    @include anchoAlto(5rem, 5rem);
}

.header-enlace {
    text-decoration: none;
    color: $white;
    font-size: .7rem;

    &:hover {
        color: $green;
    }
}

.activeLink {
    color: $green;
    font-weight: 600;
}

@media only screen and (min-width: 900px) {
    .header-enlace {
        font-size: .8rem;
    }
}

@media only screen and (min-width: 1400px) {
    .header-enlace {
        font-size: .9rem;
    }
}